@import '@fontsource-variable/inter';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'Inter Variable', sans-serif;
}

.light {
	color-scheme: light;
}

.dark {
	color-scheme: dark;
}
